<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
<html>
    <head>  
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
        <title>Liga de Futbol</title>
    </head>

    <body>
    	 <div id="content-container">  
            <section id="left-navigation">
                {% block NavigationLeft %}
                <ul>
                    <li><a href="/gestion_equipos/nuevoEquipo/">Insertar Equipo</a></li>
                </ul>
                {% endblock %}
            </section> 

            <div id="content">
            {% block Contents %}
                <h2>Listado de Equipos</h2> 
          
				{% for equipo in listaEquipos %}
				<ul>
					<li><a href='/gestion_equipos/equipo/{{equipo.id}}'>{{equipo.nombre}}</a></li>
				</ul>
				{% endfor %}
    		{% endblock %}
            </div>
        </div>
    </body>
</html>